<div class="sitecontainer">
    <h1> {{name}} - Client Editor</h1>   
    <h4>Client Data</h4>
    <table class="table">
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="email" placeholder="email" required="" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="name" placeholder="name" required="" />
            </td>
            <td>
                <button class="btn btn-success" ng-click="editClient()">Edit</button>
            </td>
        </tr>
    </table>
</div>