<div class="sitecontainer" ng-controller="ClientController">
    <h1>{{survey.name}} - Clients</h1>
    <hr />
    <h4>Add Client</h4>
    <table class="table">
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="email" placeholder="email" required="" />
            </td>
            <td>
                <input type="text" class="form-control" ng-model="name" placeholder="name" required="" />
            </td>
            <td>
                <button class="btn btn-success" ng-click="newClient()">Add</button>
            </td>
        </tr>
    </table>
    <h4>Clients</h4>
    <table class="table table-hover">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th colspan="2"><button class="btn btn-warning" ng-click="sendMailAll(survey.id)">Send Mail To All</button></th>
        </tr>
        <tr ng-repeat="client in clients">
            <td>{{ client.email }}</td>
            <td>{{ client.info.name }}</td>
            <td><a class="btn btn-success" href="#!/survey/{{surveyid}}/client/{{client.id}}">Edit</a></td>
            <td><button class="btn btn-danger" ng-click="deleteClient(client.id)">Delete</button></td>
        </tr>
    </table>
</div>