<div class="sitecontainer">
    <h1>{{surveyName}} - Survey by {{adminName || "unknown"}}</h1>
    <h4>Answer the Questions</h4>
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        <tr ng-repeat="(key, question) in questions">
            <td>{{ question.question }}</td>
            <td><input type="text" class="form-control" ng-model="answers[question.id]" placeholder="answer" required="" /></td>
        </tr>
    </table>
    <button class="btn btn-danger" ng-click="answer()">Send Answers</button>
</div>