<div class="sitecontainer">
    <h1>{{surveyName}} - Survey by {{adminName || "unknown"}}</h1>
    <h4>Answer the Questions</h4>
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        <tr ng-repeat="(index, quest) in questions">
            <td ng-if="quest.type == 'text' || (!quest.type)">{{quest.question}}</td>
            <td ng-if="quest.type == 'text' || (!quest.type)">
                <input type="text" class="form-control" ng-model="answers[quest.id]" placeholder="answer" required="" />
            </td>
            <td ng-if="quest.type == 'mc'">{{quest.question}}</td>
            <td ng-if="quest.type == 'mc'">
                <select class="form-control" ng-model="answers[quest.id]" ng-options="x as x for x in quest.options"></select>
            </td>
        </tr>
    </table>
    <button class="btn btn-danger" ng-click="answer()">Send Answers</button>
</div>