<div class="sitecontainer">
    <h1>{{survey.name}} - Results</h1>
    <hr/>
    <h4>Stats</h4>
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Count</th>
        </tr>
        <tr ng-repeat="(index, question) in survey.info.questions">
            <td>{{question.question}}</td>
            <td colspan="2">
                <table class="table table-hover">
                    <tr></tr>
                    <tr ng-repeat="(answer, details) in results[question.id]">
                        <td>{{answer}}</td>
                        <td title="{{details.users}}">{{details.count}}</td>
                    </tr>                
                </table>
            </td>                        
        </tr>
    </table>
</div>
