<div class="sitecontainer">
    <h1>{{survey.name}} - Results</h1>
    <label style="float:right;">Charts</label>
    <hr/>
    
    <div>       
        <h4 style="display:inline-block">Stats</h4>        
        <label style="float:right;" class="switch">
            
            <input ng-model="chart" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            
            <th style="text-align: center;">Details</th>
            <th>Total Count</th>
        </tr>
        <tr ng-repeat="(index, question) in survey.info.questions">
            <td>{{question.question}}</td>
            
            <td>
                <table class="table table-hover">
                    <tr ng-if="!chart">
                        <th >Answer</th>
                        <th>Count</th>
                    </tr>
                    <tr ng-if="!chart" ng-repeat="(answer, details) in results[question.id]">
                        <td ng-if="answer != 'sum'">{{answer}}</td>
                        <td ng-if="answer != 'sum'" title="{{details.users}}">{{details.count}}</td>
                    </tr>
                    <tr ng-if="chart">                        
                        <td>
                            <canvas ng-attr-id="{{ 'chart_' + index }}" ng-init="renderChart(index)"  height="300"></canvas>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td>{{results[question.id].sum}}</td>
        </tr>
    </table>
</div>

