<div class="sitecontainer">
    <h1>Survey Editor</h1>
    <hr />
    <h4>Create New</h4>
    <table  class="table">
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="name" placeholder="name" required="" />
            </td>
            <td>
                <button class="btn btn-success" ng-click="newSurvey()">Create</button>
            </td>
        </tr>
    </table>
    <h4>My Surveys</h4>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Questions</th>
            <th>Clients</th>
            <th>Answers</th>
            <th></th>
        </tr>
        <tr ng-repeat="survey in surveys">          
            <td>{{ survey.name }}</td>
            <td>{{ survey.info.created || "Now" }}</td>
            <td><a class="btn btn-success" href="#!/survey/{{survey.id}}"><b>?</b></a></td>
            <td><button class="btn btn-success glyphicon glyphicon-user" ng-click="clientEditOpen(survey.id,survey.name)" ></button></td>
            <td><button class="btn btn-success " ng-click="surveyResults(survey)"><img class="stats" src="img/stats.png"/></button></td>
            <td><button class="btn btn-danger" ng-click="deleteSurvey(survey.id)">Delete</button></td>
        </tr>
    </table>
</div>

<!--href="#!/survey/{{survey.id}}/client"-->