<div class="sitecontainer" ng-controller="SurveyEditController">
    <h1> {{survey.name}} - Questions</h1>
    <span>Created at {{created}}</span>
    <h4>Add Question</h4>
    <table class="table">
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="newQuestion" placeholder="question" required="" />
            </td>
            <td>
                <select class="form-control" ng-model="newQuestType" ng-options="x as x.name for x in QuestTypes">                    
               </select>
            </td>
            <td>
                <button class="btn btn-success" ng-click="addQuestion()">Add</button>
            </td>
        </tr>
    </table>
    <h4>Questions</h4>
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th></th>
        </tr>
        <tr ng-repeat="(index, quest) in questions">
            <td ng-if="quest.type == 'text' || (!quest.type)">{{quest.question}}</td>
            <td ng-if="quest.type == 'mc'">
                <p>{{quest.question}}</p>
                <table class="table table-hover">
                    <tr ng-repeat="(i, option) in quest.options">
                        <td><input type="text" ng-model="option"/></td>
                        <td><button class="btn btn-warning" ng-click="removeOption(quest.id,i)">Delete Option</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="add new option" ng-model="newoptions[quest.id]" /></td>
                        <td><button class="btn btn-warning" ng-click="addOption(quest.id)">Add</button></td>
                    </tr>
                </table>
            </td>
            <td><button class="btn btn-danger" ng-click="removeQuestion(index)">Delete</button></td>
        </tr>
    </table>
</div>