.login-link {
    color: black;
    margin-left: 20px;
}

.login-link:hover {
    color: black;
    margin-left: 20px;
}


.home {
    background-color: #5db9f0;
    min-height: 100vh;
    color: white;
    text-align: center
}

.ng-main-view {
    margin-top: -20px;
}

.welcome {
    margin-left: 20px;
}

.tablecontainer {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex; /* Safari 8 */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 8 */
    justify-content: center;
    -webkit-justify-content: center; 
}

.homeimg {
    max-width: 30vw;
    vertical-align: middle;
}

.homeul {
    list-style-position: inside;
}

.welcome {
    width: 80%;
    text-align: center;
    margin: auto;
}

 .contdiv {
    width: 400px;
}

.gorillaimg{
    width:20px;
    height:20px;
}

.sitecontainer {
    margin: 40px;
}

.stats{
   width:20px;
}