<div class="col-md-12">
    <h1>{{Survey}} - Survey Site</h1>
    <h4>Answer the Questions</h4>
    <table class="table table-hover">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        <tr ng-repeat="question in questions">
            <td>{{ question.question }}</td>
            <td><input type="text" class="form-control" ng-model="answers[question.id]" placeholder="answer" required="" /></td>
        </tr>
    </table>
    <button class="btn btn-danger" ng-click="answer()">Answer</button>
</div>