<div class="home">
 <br/>
	<h1 class="welcome">Welcome at SurveyApp</h1>
    <br />
    <br />
    <div class="tablecontainer">
        <div class="table-responsive">
            <table class="table mytable borderless">
                <tr>
                    <td>
                        <h2>Create Surveys Easyly</h2>
                        <ul class="homeul">
                            <li>
                                No survey count Limits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                            <li>
                                No question Limit per Survey
                            </li>
                            <li>
                               Free Email notifications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                        </ul>
                        <a class="btn btn-danger" href="#!/login">Login!</a>&nbsp;&nbsp;<a class="btn btn-danger" href="#!/register">Sing up!</a>
                    </td>
                    <td>
                        <br />
                        <img class="homeimg"src="img/survey.jpg" />
                    </td>


                </tr>
            </table>
        </div>
    </div>
</div>