<div class="home">
 <br/>
	<h1 class="welcome">Welcome at SurveyApp</h1>
    <br />
    <br />
    <div class="tablecontainer">
            <div class="contdiv">
                        <h2>Create Surveys Easyly</h2>
                        <ul class="homeul">
                            <li>
                                No survey count Limits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                            <li>
                                No question Limit per Survey
                            </li>
                            <li>
                               Free Email notifications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                        </ul>
                        <a ng-if="!LoginService.isAuthenticated()" class="btn btn-danger" href="#!/login">Login!</a>&nbsp;&nbsp;<a ng-if="!LoginService.isAuthenticated()" class="btn btn-danger" href="#!/register">Sing up!</a>
                        <a ng-if="LoginService.isAuthenticated()" class="btn btn-danger" href="#!/survey">Create Survey!</a>
            </div>
            <div class="contdiv">
                <br />
                <img class="homeimg"src="img/survey.jpg" />
            </div>
        </div>
    </div>
</div>