<div class="col-md-12">
    <h3>Login Page</h3>

    <form ng-submit="formSubmit()" class="form">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="password" required="" />
            </div>

            <div class="form-group">
                <input type="email" class="form-control" ng-model="email" placeholder="email" required="" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Login</button>
                <span class="text-danger">{{ error }}</span>
                <a href="#!/register"  class="login-link">Register</a>
            </div>
        </div>
    </form>
</div>

